@page
@namespace SkyDrive.Pages.Private
@model CreateNotesModel
@{
    ViewData["Title"] = "Create a Note";
}
<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>


<form method="post" style="display: inline" id="noteForm">
    <input  class="form-control" placeholder="Title" name="Title" />
    <textarea class="form-control" rows="3" name="Note" placeholder="Note body"></textarea>
    <input class="btn btn-success" type="submit" value="Save" />
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}