@page
@model ContosoUniversity.Pages.CurrConvert
@{
    ViewData["Title"] = "CurrencyConvert";
}

<h1> Currency Converter</h1>

<div asp-validation-summary="All"></div>
<form method="post">

    <div> Please Input the required value in £: </div>
    <input asp-for="gbp" />
    <input type="submit" />
</form>

<div id="result">Euro:@this.Model.convertedValue</div>

@section Script {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}