@page
@model SkyDrive.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h2>Help</h2>

<h4> Please contact one of the listed administrators below with any queries or issues you may have</h4>
<h5> alternatively you are able to raise a query at https://github.com/HazaTheHazard/SkyDrive/issues </h5>
