@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-offset-4">
        <h2>Welcome to Sky Drive</h2>
        <p>
            Please enter your Sky login credentials below
        </p>
    </div>
</div>