@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome</h1>
            <h2 class="display-4">Name: @User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value</h2>
            <h2 class="display-4">Username: @User.Identity.Name</h2>
            <h2 class="display-4">UserID: @User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value</h2>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome</h1>
            <h2 class="display-4">Please sign in</h2>
        </div>
    </div>
}