@page
@namespace SkyDrive.Pages.Messenger
@model MessengerModel
@{
    ViewData["Title"] = "Messenger";
}
<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}