@page
@namespace SkyDrive.Pages.Files
@model FileModel
@{
    ViewData["Title"] = "Upload a file";
}
<h1>@ViewData["Title"]</h1>


<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input class="btn btn-success" type="submit" value="Upload" />
</form>

@if (Model.Files != null)
{
    <h2>@Model.Message</h2>
    @foreach (var item in Model.Files)
    {
        <form method="get" style="display: inline">
            <input type="hidden" value="@item.ID" name="id" />
            <input class="btn btn-info" type="submit" value="@item.File" />
        </form>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}