@page
@model SkyDrive.Pages.Files.UploadModel

@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileMapping" class="control-label"></label>
                <input type="file" asp-for="FileMapping" class="form-control" />
                <span asp-validation-for="FileMapping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Home">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
